:root {
    /* Color for headings, subheadings and title throughout the website */
    --accent-color-dark: #00b86b;
    --hover-color-dark: #00da7f;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .modal-content {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode .modal-content p {
    color: #ffffff;
    opacity: 0.9;
}

.dark-mode .modal-content .btn-close {
    background-color: aliceblue;
}

.dark-mode p {
    color: #ffffff;
    opacity: 0.9;
}

/* Unfortunately, you cannot directly change the text color within a PNG image using CSS. 
    However, you can apply a filter to invert or adjust the image colors to make it more visible in dark mode. */

.dark-mode .logo img {
    filter: brightness(0) invert(1);
    /* Inverts the colors to make the text appear white */
}

.dark-mode #branch img {
    filter: brightness(1) invert(1);
}

.dark-mode #glightbox-slider img {
    filter: brightness(1) invert(1);
}

.dark-mode ul li ul {
    background-color: #121212 !important;
    color: #ffffff !important;
}

.dark-mode section {
    background-color: #121212 !important;
    color: #ffffff !important;
}

/* .dark-mode footer {
    background-color: #121212 !important;
    color: #ffffff !important;
} */

.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6,
.dark-mode span {
    color: #ffffff !important;
}

.dark-mode .call-to-action img {
    filter: brightness(0.4);
}

.dark-mode .service-item {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode .pricing-item {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode .pricing-item .list-unstyled {
    color: #ffffff;
}

/* .dark-mode a {
    color: --accent-color-dark;
} */

.dark-mode a:hover {
    color: --accent-color-dark;
}

/* .dark-mode .btn, */
/* .dark-mode .scroll-top {
    background-color: #333333;
    color: #ffffff;
} */

.dark-mode .btn:hover,
.dark-mode .scroll-top:hover {
    background-color: --accent-color-dark;
    color: #121212;
}

.dark-mode .pricing .buy-btn {
    background-color: var(--accent-color-dark);
    color: #ffffff;
}

.dark-mode .pricing .buy-btn:hover {
    background-color: var(--hover-color-dark);
}

.dark-mode .header,
.dark-mode .footer {
    background-color: #1e1e1e;
    border-bottom: 1px solid #333333;
}

/* .dark-mode .navmenu ul li a,
.dark-mode .footer a, */
.dark-mode .header-social-links a {
    color: #ffffff;
}

.dark-mode .navmenu ul li a:hover,
.dark-mode .header-social-links a:hover,
.dark-mode .footer a:hover {
    color: --accent-color-dark;
}

.dark-mode .main {
    background-color: #121212;
}